.logo {
    width: 40px;
    height: 40px;
    @include desktop {
      width: 53px;
      height: 53px;
    }
  }

.cate-icon {
  width: 40px;
    height: 40px;
    @include desktop {
      width: 80px;
      height: 80px;
    }
}
.recent-icon {
  width: 20px;
    height: 20px;
    @include desktop {
      width: 24px;
      height: 24px;
    }
}
.card-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  @include desktop {
    height: 255px;
  }
}

.online-img {
  width: 100%;
  height: 158px;
  object-fit: cover;
  @include desktop {
    height: 327px;
  }
}
.online-link {
  box-shadow: 4px 0px 0px 0px $primary inset;
  &:hover {
    box-shadow: 4px 0px 0px 0px $secondary inset;
    text-decoration: none;
    background-color: $primary;
    color: $white;
  }
}
.album-img {
  height: 267px;
  object-fit: cover;
  @include desktop {
    height: 274px;
  }
}

.-rotate-2 {
  transform: rotate(-2deg) !important;
}

.rotate-2 {
  transform: rotate(2deg) !important;
}
.rotate-4 {
  transform: translate(-50%,-50%) rotate(4deg);
}

.page-item {
  width: 40px;
  height: 40px;
  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}