<header class=" border-bottom border-dark border-3 py-3 py-md-6 mb-4 mb-md-8">
    <div class="container">
        <nav class="navbar navbar-expand-md d-flex p-0 position-relative ">
            <!-- logo -->
            <h1 class="m-0">
                <a class="navbar-brand m-0 p-0 d-flex align-items-center" href="index.html">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
                        alt="Logo" class="logo d-inline-block align-text-middle me-md-4">
                    <span class="yeseva-one align-middle d-none d-md-inline-block fs-2">
                        7TAO
                    </span>
                    <span class="fs-6 noto-tc-sans fw-bold align-middle d-none d-md-inline-block">活動訂票網</span>
                </a>
            </h1>
            <!-- 搜尋 -->
            <form class="input-group mx-md-6 ms-md-12 position-absolute top-0 start-15 search" role="search">
                <input class="form-control py-2 py-md-4 " type="search" placeholder="探索活動" aria-label="Search">
                <button class="btn btn-dark text-secondary py-md-4 px-md-4" type="submit">
                    <i class="icofont-search-1 py-md-4"></i>
                </button>
            </form>
            <!-- 選單按鈕 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 選單內容 -->
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mb-lg-0 ms-lg-auto navbar-nav-scroll">
                    <li class="nav-item me-6">
                        <a class="nav-link active yeseva-one" href="#">
                            <i class="icofont-ui-file fs-md me-1"></i>
                            REGISTER
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active yeseva-one" href="#" aria-disabled="true">
                            <i class="icofont-ui-user fs-md me-1"></i>
                            LOGIN
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
</header>