<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&family=Yeseva+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="mb-8 mb-md-12">
      <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true"
                class="d-block w-100" alt="banner image">
              <div class="carousel-caption text-start p-0 pt-4 pt-md-12 top-0">
                <div class="fs-2 Yeseva-One d-md-inline-block d-md-none">
                  19 MAY
                  <div class="d-md-none"></div>
                  2023
                </div>
                <div class="fs-xl Yeseva-One d-none d-md-inline-block">
                  19 MAY
                  <div class="d-md-none"></div>
                  2023
                </div>
              </div>
              <div class="carousel-caption p-0 pb-6 bottom-0 start-0 end-0">
                <div class="mx-auto" style="max-width: 832px">
                  <h5 class="fs-md fs-md-4 fw-bold Noto-Serif">
                    隔牆有耳-沒有草東的派對
                  </h5>
                  <p class="d-none d-md-block mt-4">
                    你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                    帶上啤酒、野餐墊，讓我們在Live
                    House外面一起開場「沒有草東的派對」吧！
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="mb-8 mb-md-12">
      <div class="container">
        <div class="row g-2 g-xl-6">
          <div class="col-4 col-md-2">
            <div
              class="d-flex justify-content-center align-items-center border border-2 border-black py-5 py-xl-9 h-100">
              <a class="d-flex flex-column align-items-center hover-unstyled">
                <img class="cate-icon"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate01.svg"
                  alt="演出" />
                <p class="Noto-Serif fw-bold fs-lg-4 mt-2 mt-lg-3">演出</p>
              </a>
            </div>
          </div>
          <div class="col-4 col-md-2">
            <div
              class="d-flex justify-content-center align-items-center border border-2 border-black py-5 py-xl-9 h-100">
              <a class="d-flex flex-column align-items-center hover-unstyled">
                <img class="cate-icon"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate02.svg"
                  alt="聯誼" />
                <p class="Noto-Serif fw-bold fs-lg-4 mt-2 mt-lg-3">聯誼</p>
              </a>
            </div>
          </div>
          <div class="col-4 col-md-2">
            <div
              class="d-flex justify-content-center align-items-center border border-2 border-black py-5 py-xl-9 h-100">
              <a class="d-flex flex-column align-items-center hover-unstyled">
                <img class="cate-icon"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate03.svg"
                  alt="展覽" />
                <p class="Noto-Serif fw-bold fs-lg-4 mt-2 mt-lg-3">展覽</p>
              </a>
            </div>
          </div>
          <div class="col-4 col-md-2">
            <div
              class="d-flex justify-content-center align-items-center border border-2 border-black py-5 py-xl-9 h-100">
              <a class="d-flex flex-column align-items-center hover-unstyled">
                <img class="cate-icon"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate04.svg"
                  alt="美食" />
                <p class="Noto-Serif fw-bold fs-lg-4 mt-2 mt-lg-3">美食</p>
              </a>
            </div>
          </div>
          <div class="col-4 col-md-2">
            <div
              class="d-flex justify-content-center align-items-center border border-2 border-black py-5 py-xl-9 h-100">
              <a class="d-flex flex-column align-items-center hover-unstyled">
                <img class="img-icon" src="../assets/images/cate05.svg" alt="cate05" />
                <p class="Noto-Serif fw-bold fs-lg-4 mt-2 mt-lg-3">戶外</p>
              </a>
            </div>
          </div>
          <div class="col-4 col-md-2">
            <div
              class="d-flex justify-content-center align-items-center border border-2 border-primary bg-primary py-5 py-xl-9 h-100">
              <div class="d-flex flex-column align-items-center position: relative">
                <a href="event.html" class="fs-4 fs-lg-lg fw-bold text-secondary Noto-Serif hover-unstyled">
                  探索<br />更多
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- cate -->
      <!-- <div class=" container activity pt-6">
        <ul class="list-unstyled d-flex justify-content-between row">
          <li class="col-4 col-md-2 mb-2 border border-dark border-3 p-0"><img class=" mx-auto d-block"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate01.svg"
              style="height: 80px; width: 80px;" alt="">
            <p class="text-center">演出</p>
          </li>
          <li class="col-4 col-md-2 border border-dark border-3 p-0" style="width: 196px;height: 196px;"><img
              class="mx-auto d-block"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate02.svg"
              style="height: 80px; width: 80px;" alt="">
            <p class="text-center">聯誼</p>
          </li>
          <li class="col-4 col-md-2 border border-dark border-3 p-0" style="width: 196px;height: 196px;"><img
              class="mx-auto d-block"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate03.svg"
              style="height: 80px; width: 80px;" alt="">
            <p class="text-center">展覽</p>
          </li>
          <li class="col-4 col-md-2 border border-dark border-3 p-0" style="width: 196px;height: 196px;"><img
              class="mx-auto d-block"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate04.svg"
              style="height: 80px; width: 80px;" alt="">
            <p class="text-center">美食</p>
          </li>
          <li class="col-4 col-md-2 border border-dark border-3 p-0" style="width: 196px;height: 196px;"><img
              class="mx-auto d-block"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate05.svg"
              style="height: 80px; width: 80px;" alt="">
            <p class="text-center">戶外</p>
          </li>
          <li class="col-4 col-md-2 border border-dark border-3 p-0" style="width: 196px;height: 196px;">
              <img
                class="mx-auto d-block"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate01.svg"
                style="height: 80px; width: 80px;" alt="">
              <p class="text-center">探索更多</p>
            </li>
      <div class="col-4 col-md-2">
        <div class="d-flex justify-content-center align-items-center border border-2 border-black py-5 py-xl-9 h-100">
          <a class="d-flex flex-column align-items-center hover-unstyled">
            <img class="img-icon"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate01.svg"
              alt="cate01" />
            <p class="Noto-Serif fw-bold fs-lg-4 mt-2 mt-lg-3">演出</p>
          </a>
        </div>
      </div>
      </ul>
    </div> -->
      <!-- Recent -->
      <div class="d-flex justify-content-between border border-dark border-3">
        <P class="fs-64 yeseva-one ms-5 my-4">RECENT</P>
        <span class="fs-2 noto-tc-serif fw-bold me-5 my-6">近期活動</span>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>